@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./src/assets/sven-mieke-jO6vBWX9h9Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
